body {
}


h1  {
  text-align: center;
  margin: 40px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px;
    justify-content: space-around;
    text-align: center;
    line-height: 1;
    padding-left: 0px;
}

li {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding: 0;
}

li img {
  height: 200px;
}
